@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>developer: @ViewData["Student"]</p>

<address>
    <strong> More information: </strong> <a href="https://www.linkedin.com/in/lunno-cincur%C3%A1-2a21711a6/">Linkedin</a>

</address>