@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Name: @ViewData["Student"]</p>
<p>Email: @ViewData["Email"]</p>


<address>
    Av. ACM, nº 1146 <br />
    Malhado, Ilhéus <br />
    Bahia/ Brasil <br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
